.table-row {
    text-align: center;
    vertical-align: middle;
}

.table-row-violation td{
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255, 150, 150) !important;

}

